# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production build
client/build/
dist/

# Environment variables
.env
server/.env
client/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/logs/


# Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# docs
docs/*